# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
todo.db*
backend/todo.db

# Visual Studio / IDE Files
.vs/
.vscode/
.devcontainer/
*.suo
*.wsuo
*.user
*.userprefs
*.sqlite
